@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'SpaceAge';
    src: url('space\ age.ttf');
}

@font-face {
    font-family: 'Retro';
    src: url('retro.ttf');
}
.Color{
    color: yellow;
}

.secnav{
    padding: 6px 20px;
    font-size: 32px;
}
@media screen and (max-width: 377px) {
    #logo {
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 100px;
      height: 40px;
    }
    .Color{
        font-size: 32px;
    }
  }

.nav1 a:hover{
    color: rgb(122, 122, 2);
    transition: 0.6s ease;
}

.nav1{
    margin-right: 425px;
}

.nav1 a#active{
    color: rgb(122, 122, 2);
}

@font-face {
    font-family: '8-Bit';
    src: url('8-bit-hud.ttf');
}

.mainback{
    font-family: 'Retro';
    background-color: rgb(9, 1, 48);
}

.main-container{
    background-image: url('homepg.jpg');
    font-family: '8-Bit';
}

.heading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: yellow;
    font-size: 32px;
}
